/*** Styling ***/

body,
html {
  margin: 0;
  background: linear-gradient(#e664644f, #9198e5);
}

#root {
  flex-direction: column;
  height: 100vh;
}

/*  Navbar  */
.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  height: 50px;
  padding: 1em;
}

.dropdown {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.item button {
  background: none;
  border: none;
  cursor: pointer;
}

#logo {
  width: 9rem;
  height: 4rem;
}

.icon {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.icon.hide {
  display: none;
}

/*  Visualizer  */
#visualizer {
  padding: 2rem;
  height: 60vh;
  display: flex;
  align-items: flex-end;
  flex: 1;
  overflow: hidden;
}

.bar {
  flex-grow: 1;
  text-align: center;
  font-size: 1px;
  border: 1px solid rgba(0, 0, 0, 0.477);
  background-color: rgba(0, 255, 255, 0.776);
  border-radius: 8px 8px 0px 0px;
  transition: 0.2s ease;
}

.bar:hover {
  background-color: white;
  font-size: 16px;
}

#settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
