* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  flex-direction: column;
  height: 100vh;
}

.container {
  height: 100vh;
  background: linear-gradient(#ffffff64, #0e0e12);
}

.container.dark {
  height: 100vh;
  background: linear-gradient(#0e0e12, #ffffff64);
}
