#settings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.settings-btn:hover {
  background-color: #4a4a4a;
  border: 1px solid #fff;
}

.settings-btn {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider {
  background-color: #fff;
  border-radius: 5px;
}

.slider span {
  margin: 0 19px;
}

/*  Dark Mode  */

.dark .settings-btn {
  background-color: #333;
  color: #fff;
}

.dark .settings-btn:hover {
  color: #333;
  background-color: #b9b9b9;
  border: 1px solid #333;
}

.dark .slider {
  background-color: #333;
  color: #fff;
}
