/* Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#e664644f, #9198e5);
  margin: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

#logo {
  height: 80px;
  width: 200px;
  flex-grow: 0;
}

.menu-button {
  position: relative;
  color: #5e17ebce;
  cursor: pointer;
  font-size: 37px;
  margin: 11px;
}

.dropdown-menu {
  display: none;
  position: absolute;
}

.menu-button:hover .dropdown-menu {
  display: block;
  transform: translateX(-80px);
}


button {
  position: relative;
  cursor: pointer;
  margin:4px;
  width: 16.5vw;
  height: 6.6vh;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.544);
  background-color: #3a44ae50;
  font-size: 20px;
  border: 2px solid rgba(255, 255, 255, 0.548);
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
}

button:hover {
  background-color: #fff;
  color: #151f32;
  font-size: 25px;
  box-shadow: -1px 7px 50px 0px rgba(255, 255, 255, 0.87);
  overflow: unset;
  width: 25.5vw;
  height: 6.6vh; 
}

#main {
  margin-top: 100px;
}

#visualizer {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: auto;
}

#settings {
  display: flex;
  justify-content: center;
}

.bar {
  flex-shrink: 1;
  border: 1px solid rgb(34, 23, 98);
  color: #162b52;
  width: 4vw;
  background-color: rgba(125, 239, 239, 0.867);
  transition: all .5s ease-in-out;
  font-size: 1px;
  text-align: center;
  border-radius: 8px 8px 0px 0px;

}

.bar:hover {
  cursor: pointer;
  padding: 7px;
  width: 4.3vw !important;
  font-weight: bold;
  font-size: 2em;
  margin: 0 3px;
  box-shadow: -1px 4px 30px 0px rgba(255, 255, 255, 0.87);
}
